h1, h2, h3, h4, h5, h6 {
  color: #202020;
}

p,
.disableBootstrapUL li {
  color: #676767;
}

/* Custom style start */
html {
    height: 100% !important;
}

/* nav list item font size */
.navbar-nav li{
    font-size: 1em;
}

/* list item top and bottom padding */
.nav-item {
    padding: 2px .25em;
}

/* logo size */
.logoImg {
    width: 150px;
    height: auto;
}

/* burger icon */
.burgerToggle {
    display: block;
}

.burgerToggleNone {
    display: none;
}

body {
    position: relative;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    padding: 0;
}

main {
    flex: 1;
}

.homeSection,
.serviceSection,
.scheduleSection {
  padding: 4% 8% 8% 8%;
  box-sizing: border-box;
}

.modalButton {
  /* color: #202020;
  background-color: #f5b334;
  border: 1px solid #f5b334; */
  color: #f5b334;
  background-color: #202020;
  border: 1px solid #202020;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25em;
  padding: 10px 20px;
  margin: 24px 0 40px 0; /* lamang ng 16px yung bottom */
}

.modalButton:hover,
.modalButton:active {
  background-color: #252932 !important;
  border: 1px solid #252932 !important;
  color: white !important;
}

.customOverlay {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    background-color: rgb(0 0 0 / 80%);
    /* Add the blur effect */
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100% !important;
    opacity: 0.8;
}

.customModal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
}


/* disable bootstrap  */
ul.disableBootstrapUL{
    list-style-type: disc;
    padding-left:1em !important;
    margin-left:1em !important;
    margin-bottom: 0 !important;
}

.ownGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .ownGrid > article {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    flex: 1; /* Ensures equal width for all columns */
    min-height: 100%; /* Ensures equal height */
    min-width: 300px;
    padding: 0;
    box-sizing: border-box;
  }
  
  .ownGrid a {
    margin-top: auto; /* Pushes the link to the bottom */
  }

  .customOverlay, 
  .customModal_container {
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .fa-solid.fa-circle-xmark {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #dc3444;
    font-size: 2em;
    cursor: pointer;
  }
  
  .serviceSection {
    display: none;
  }

  .scheduleSection {
    display: none;
  }

  .section_2col {
    display: flex;
    box-sizing: border-box;
    /* padding: 0 0 40px 0; */
  }

  .section_2col > :first-child{
    flex: 4;
  }

  .section_2col > :nth-child(2){
    flex: 1;
    text-align: center;
  }

  .responsive_Icon {
    width: 100%;
    max-width: 125px;
    min-width: 50px;
    height: auto;
  }

  footer {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #252932;
    text-align: center;
  }

  footer p {
    color: #F5B335;
  }

  .learnMore {
    color: #202020;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 500;
  }

  .learnMore:hover {
    color: #202020;
  }

  /* .sectionIntro p{
    border-left: 5px solid #F5B335;
    padding-left: 10px;
  } */

  .scheduleCTA {
    color: #f5b334;
    background-color: #202020;
    border: 1px solid #202020;
    text-transform: uppercase;
    font-weight: bold;
  }

  .scheduleCTA:hover,
  .scheduleCTA:active {
    background-color: #252932 !important;
    border: 1px solid #252932 !important;
    color: white !important;
  }

  .scheduleTextArea {
    resize: none;
    height: 150px;
  }

  .toggle-icons i {
    font-size: 2.5em;
  }

  .fa-toggle-off {
    display: block;
    color: #dc3444;
    cursor: pointer;
  }

  .fa-toggle-on {
    display: none;
    color: #28a745;
    cursor: pointer;
  }

  form {
    max-width: 500px;
  }

  legend,
    .form-check,
    .form-check-input{
    color: #676767;
  }

  .errorMessage {
    background-color: #dc3444;
    padding: 20px;
    box-sizing: border-box;
    /* max-width: 500px; */
    margin: 0 0 20px 0;
  }

  .errorMessage > h5 {
    color: #FFFFFF;
    padding: 0;
    margin: 0;
  }


  .errorMessage ul li {
    color: #FFFFFF;
  }

  .successMessage {
    background-color: #198753;
    padding: 20px;
    margin: 0 0 20px 0;
    /* max-width: 500px; */
    box-sizing: border-box;
  }
  
  .successMessage > h6 {
    color: #FFFFFF;
    padding: 0;
    margin: 0;
  }

  legend {
    font-size: 1em;
  }

  [role="menuitem"] {
    color: #5c5c5d !important;
  }
  
  label {
    color: #676767;
  }

  article {
    border: 1px solid #F5B335;
    padding: 20px !important;
    box-sizing: border-box;
  }

  h2{
    font-size: 1.5em;
  }

/* Custom style end */


