/* Reset CSS Start */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset CSS End */

/* Custom style start */
html {
    height: 100% !important;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-100 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-200 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-300 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-400 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-500 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-600 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-700 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-800 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-900 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* nav list item font size */
.navbar-nav.roboto-500 {
    font-size: 1em;
}

/* list item top and bottom padding */
.nav-item {
    padding: 2px .25em;
}

/* logo size */
.logoImg {
    width: 150px;
    height: auto;
}

/* burger icon */
.burgerToggle {
    display: block;
}

.burgerToggleNone {
    display: none;
}

body {
    position: relative;
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
.customOverlay {
    opacity: 0.8;
    position: absolute;
    top: 0;
    background-color: rgb(0 0 0 / 80%);
    /* Add the blur effect */
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100% !important;
}

.customModal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* disable bootstrap  */
ul.disableBootstrapUL{
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em !important;
}

.ownGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ownGrid > div {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    flex: 1; /* Ensures equal width for all columns */
    min-height: 100%; /* Ensures equal height */
    min-width: 300px;
    border: 1px solid #000; /* Just for visualization */
    padding: 20px;
  }
  
  .ownGrid a {
    margin-top: auto; /* Pushes the link to the bottom */
  }

  .customOverlay, 
  .customModal_container {
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .fa-solid.fa-circle-xmark {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #dc3444;
    font-size: 2em;
    cursor: pointer;
  }
  

/* Custom style end */


